<main class="container">
  <h1>All Events</h1>
  <% if @events.empty? %>
    <p>No events to show</p>
  <% else %>
    <ul>
      <% @events.each do |e| %>
        <li class='event-card'>
          <%= link_to e, class: 'docile-link' do %>
            <h3> <%= e.title %> </h3>
            <p><%= e.description.slice(0..60) + '...' %></p>
            <p class='date'>on: <%= e.date %></p>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</main>
