@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;600&display=swap');

$yellow: #FFE000;

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-family: 'Roborto Mono', monospace, sans-serif;
  font-size: 1.6rem;
  height: 100%;
  overflow: hidden;
}

ul {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-top: 15px;
  height: 100%;
}


.logo {
  font-size: 1.9rem;
  text-transform: uppercase;
  word-spacing: 0.4rem;
}

nav {
  box-shadow: 0px 0px 30px 0px rgba(103,151,255,0.17);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }

  li {
    padding: 10px;
  }

  a {
    color: black;
    text-decoration: none;
    padding: 10px;

    &:hover {
      text-decoration: underline $yellow 0.2rem;
    }

    &:focus-visible {
      outline: 2px solid $yellow;
    }
  }

}

form {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 20px 0;

    input {
      width: 45%;
    }
  }
}

input:focus-visible {
  outline: 2px solid $yellow;
}

input[type="submit"]
{
  padding: 7px;
  width: 25%;
  border: 2px solid;
  background: white;

  &:hover {
    border-color: $yellow;
    cursor: pointer;
  }
}

@media (max-width: 600px) {
  nav {
    padding: 4px;
  }

  .container {
    width: 100%;
  }

  form div {
    width: 100%;
  }

  input[type='submit'] {
    width: 20%;
  }
}
